header {
  height: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a89200;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  color: #FFFFFF;
}
