nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family:  'Bungee', sans-serif;
  
  padding: 1.5em;
  margin-bottom: 0%;
}

.nav-header-arrow a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
   -webkit-transform: translateY(0);
   -ms-transform:     translateY(0);
   transform:         translateY(0)
  }
  40% {
   -webkit-transform: translateY(-10px);
   -ms-transform:     translateY(-10px);
   transform:         translateY(-10px)
  }
  60% {
   -webkit-transform: translateY(-5px);
   -ms-transform:     translateY(-5px);
   transform:         translateY(-5px)
  }
 }

 nav i { 
   color: red;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
 }

 nav i:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}


@media only screen and (max-width: 1023px) {
  nav {
  background-color: transparent;
  color: rgb(92, 90, 90)
  }

  nav i {
    color: rgb(92, 90, 90)
  }

 .nav-header-arrow a {
   color: rgb(92, 90, 90)
 }
}